.section {
  width: 100%;
  padding: 14.8rem 2rem;
  background: white;
}

.inner {
  width: 100%;
  max-width: 134.3rem;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 4rem;
}

.processContainer {
  margin-top: 10.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 3rem;
  row-gap: 5rem;
}

.arrowIcon {
  width: 2.7rem;
  height: 2.7rem;
  margin-top: -2.5%;
}

@media (max-width: 930px) {
  .processContainer {
    justify-content: center;
  }
}
