.container{
    width: 100%;
    padding-top: 6vh;
}

.itemContainer{
    width: 60%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexContainer{
    width: 90%;
    display: flex;
}

.item {
    width: 50%; 
    aspect-ratio: 0.8/1;
    margin: 50px auto;
    padding: 3rem;
    color: #000000;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000000;
    box-sizing: border-box;
    background: url('https://s3-alpha-sig.figma.com/img/33e2/8c9b/9270a023b544c3824744bb9e7b4efd6d?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=b0LM1LMIt32nIyR1ON69F5tXgTbWRvZCrvT6HjlhByFIVPXepA2p5upa2xCAhgtqmzqE2IIAFZ8M7yxyo3WOzrHfixS4O9iSPQetXeHRGIc32siyLP6wNedzNAlLkOdR6SUjxvqdAeSzIyK3GblHYnBfWKwGucuDURc3cdo24rmOhJsMOsbj9N64ODIr~7M5iggyKphgFbsetdOH6aq2x~pgGFktGsIxqKFMKpMeHSYE5zH5AQE1S8dZOfNf3qYpcZLF1SBtyrUSlkmSp9gPXq2PVHykjsZ42Igl2BsyYe3Sqp0ruDe6~f-9JpEAxDbobqKDvoGSYmXPTUzgSR0xMQ__');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.positionUp{
    position: relative;
    bottom: 30px;
}
  
.positionDown{
    position: relative;
    top: 30px;
}

.title{
    font-size: 4rem;
    font-weight: 600;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.titleMarketing{
    font-size: 1.8rem;
    font-weight: 600;
}

.titleMarketingItem{
    width: 90%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 3rem;
}

.depMarketingItem{
    margin-top: 0.5rem;
}


@media screen and (max-width: 670px) {
    .container{
        height: 100vh;
    }
    .itemContainer{
        width: 100%;
    }
    .title{
        width: 90%;
    }
    .item{
        padding-top: 5rem;
        margin: 30px auto;
    }

   
}

@media screen and (max-width: 450px) {
    .flexContainer{
        height: 40%;
    }
    
}
@media screen and (max-width: 375px) {
    .flexContainer{
        height: 45%;
    }

    .depMarketingItem{
        font-size: 1.4rem;
    }
    
}
@media screen and (max-width: 370px){
    .itemContainer{
        align-content: center;
    }
    .flexContainer{
        height: 35%;
    }
    .titleMarketing{
        font-size: 1.4rem;
    }
    .depMarketingItem{
        font-size: 1rem;
    }

}


@media screen and (max-height: 800px) {
    .titleMarketingItem{
        margin-top: 1%;
    }
}