.container{
    width: 100%;
    padding: 6vh 0;
}

.itemContainer{
    width: 60%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexContainer{
    width: 90%;
    display: flex;
}

.item {
    width: 50%; 
    aspect-ratio: 0.8/1;
    margin: 50px auto;
    padding: 3rem;
    color: #FFF;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.positionUp{
    position: relative;
    bottom: 30px;
}
  
.positionDown{
    position: relative;
    top: 30px;
}

.title{
    font-size: 4rem;
    font-weight: 600;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.titleMarketing{
    font-size: 1.8rem;
    font-weight: 600;
}

.titleMarketingItem{
    width: 90%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 3rem;
}

.depMarketingItem{
    margin-top: 0.5rem;
}


@media screen and (max-width: 900px) {
    .container{
        height: 100vh;
    }
    .itemContainer{
        width: 100%;
    }
    .title{
        width: 90%;
    }
    .item{
        padding-top: 5rem;
        margin: 30px auto;
    }
}


@media screen and (max-width: 361px){
    .titleMarketing{
        font-size: 1.7rem;
    }

}