.section {
  width: 100%;
  padding: 13.9rem 0;
  background: #38a770;
}

.inner {
  width: 100%;
  max-width: 142rem;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 4.2rem;
  color: white;
  margin-left: 2.9rem;
}

.serviceContainer {
  margin-top: 10.8rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  column-gap: 4rem;
  row-gap: 11.9rem;
}

@media (max-width: 1200px) {
  .inner {
    padding: 0 6rem;
  }

  .title {
    font-size: 6rem;
  }

  .serviceContainer {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 680px) {
  .title {
    font-size: 4rem;
  }

  .serviceContainer {
    column-gap: 7rem;
  }
}
