.icon {
  width: 5.2rem;
  height: 5.3rem;
}

.title {
  color: white;
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 3rem;
}

.content {
  color: white;
  font-weight: 300;
  font-size: 1.6rem;
  margin-top: 3.6rem;
  white-space: pre-wrap;
  line-height: 2.4rem;
}

@media (max-width: 1200px) {
  .title {
    font-size: 5rem;
  }

  .content {
    font-size: 2.5rem;
    line-height: 3.3rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 3rem;
  }

  .content {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 2.5rem;
  }

  .content {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
