.section {
  width: 100%;
  padding: 14.8rem 0;
  background: white;
}

.inner {
  width: 100%;
  max-width: 134.2rem;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 4rem;
}

.portfolioContainer {
  margin-top: 17.3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.6rem;
  row-gap: 3.9rem;
}

.portfolioContainer div:nth-child(n + 4):nth-child(-n + 6) {
  border: 3px solid #ffbb00;
}

.portfolioContainer div:nth-child(n + 10):nth-child(-n + 12) {
  border: 3px solid #ffbb00;
}

@media (max-width: 950px) {
  .inner {
    padding: 0 6rem;
  }

  .portfolioContainer {
    column-gap: 4rem;
    row-gap: 4rem;
  }
}

@media (max-width: 750px) {
  .portfolioContainer {
    grid-template-columns: repeat(2, auto);
    margin-top: 10rem;
  }

  .portfolioContainer div:nth-child(n + 4):nth-child(-n + 6) {
    border: 3px solid #38a770;
  }

  .portfolioContainer div:nth-child(n + 10):nth-child(-n + 12) {
    border: 3px solid #38a770;
  }

  .portfolioContainer div:nth-child(n + 3):nth-child(-n + 4) {
    border: 3px solid #ffbb00;
  }

  .portfolioContainer div:nth-child(n + 7):nth-child(-n + 8) {
    border: 3px solid #ffbb00;
  }

  .portfolioContainer div:nth-child(n + 11):nth-child(-n + 12) {
    border: 3px solid #ffbb00;
  }

  .portfolioContainer div:nth-child(n + 15):nth-child(-n + 16) {
    border: 3px solid #ffbb00;
  }
}

@media (max-width: 600px) {
  .portfolioContainer {
    column-gap: 3rem;
    row-gap: 3rem;
  }
}

@media (max-width: 550px) {
  .portfolioContainer {
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
