.mainWrap {
  width: 100%;
  height: 100rem;
  background-color: #3a84c4;
}

.contentWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.textWrap {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainText {
  width: auto;
  color: white;
  font-size: 4rem;
  display: flex;
  justify-content: start;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  width: 19rem;
  height: 3.4rem;
}

.logoSubText {
  height: 4.8rem;
  padding-left: 1.2rem;
}

.logoSubText > div {
  line-height: 4.7rem;
  height: 4.8rem;
  font-size: 4rem;
  font-weight: 600;
}

.mainText > span {
  font-weight: 600;
  padding-right: 1rem;
}

.subText {
  width: auto;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: start;
  padding-top: 1.9rem;
}

.formWrap {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}

.formBox {
  width: 100%;
}

.nameWrap {
  width: 64rem;
}

.nameContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameContent > label {
  width: 15%;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: start;
}

.nameContent > input {
  width: 85%;
  height: 5.5rem;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: #d9d9d9;
}

.emailWrap {
  width: 64rem;
  padding-top: 3.4rem;
}

.emailContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailContent > label {
  font-size: 1.6rem;
  font-weight: 500;
  width: 15%;
  display: flex;
  justify-content: start;
}

.emailContent > input {
  width: 85%;
  height: 5.5rem;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: #d9d9d9;
}

.inquliryWrap {
  width: 64rem;
  padding-top: 3.4rem;
}

.inquliryContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inquliryContent > label {
  width: 15%;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: start;
}

.inquliryContent > textarea {
  width: 85%;
  height: 30rem;
  resize: none;
  outline: none;
  border: none;
  padding: 1rem;
  background-color: #d9d9d9;
}

.checkWrap {
  width: 64rem;
  padding-top: 1.2rem;
  display: flex;
  justify-content: flex-end;
}

.checkContent {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

input[type='checkbox'] {
  display: none;
  content: '';
}

.checkLabel {
  display: flex;
  align-items: center;
}

.checkIcon {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkIcon::before {
  content: '';
  display: block;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background-color: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.checkLabel input:checked + .checkIcon::before {
  background: url(/public/images/checkIcon.png) center;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

.checkMainText {
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  padding-left: 1rem;
}

.checkContent {
  display: flex;
  align-items: center;
}

.checkContent > span {
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.submitWrap {
  padding-top: 1.9rem;
  width: 64rem;
  display: flex;
  justify-content: flex-end;
}

.submitBox > input {
  width: 9rem;
  height: 3.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d9d9d9;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
}

@media screen and (max-width: 880px) {
  .formBox {
    width: 100%;
  }

  .nameWrap {
    width: 100%;
  }

  .nameContent > label {
    font-size: 1rem;
  }

  .emailWrap {
    width: 100%;
  }

  .emailContent > label {
    font-size: 1rem;
  }

  .inquliryWrap {
    width: 100%;
  }

  .inquliryContent > label {
    font-size: 1rem;
  }

  .checkWrap {
    width: 100%;
    padding-top: 1%;
    display: flex;
    justify-content: flex-end;
  }

  .checkContent > span {
    font-size: 1rem;
  }

  .checkLabel > span {
    font-size: 1rem;
  }

  .checkIcon::before {
    width: 70%;
    height: 70%;
  }

  .checkMainText {
    padding-left: 1px;
  }

  .submitWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .submitBox > input {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .contentWrap {
    justify-content: center;
    flex-wrap: wrap;
  }

  .textWrap {
    width: 100%;
    height: 20%;
  }

  .formWrap {
    width: 100%;
    height: 80%;
    padding: 2rem;
  }

  .nameContent {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .nameContent > label {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    padding: 1rem;
  }

  .emailContent {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .emailContent > label {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    padding: 1rem;
  }

  .inquliryContent {
    display: flex;
    flex-direction: column;
  }

  .inquliryContent > label {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    padding: 1rem;
  }

  .checkWrap {
    width: 100%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
  }

  .checkContent {
    width: 85%;
  }

  .checkContent > span {
    font-size: 2rem;
  }

  .checkLabel > span {
    font-size: 2rem;
  }

  .submitWrap {
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
  }

  .submitBox {
    width: 85%;
    display: flex;
    justify-content: center;
  }

  .submitBox > input {
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
  }
}
