.mainWrap {
  width: 100%;
  height: 22.6rem;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBox > img {
  width: 30.8rem;
  height: 5.5rem;
}

.contentWrap {
  width: 70%;
  height: 14.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 6rem;
}

.referenceWrap {
  width: 35.2rem;
  display: flex;
  justify-content: space-between;
}

.referenceText {
  font-size: 1.6rem;
  font-weight: 500;
}

.moreWrap {
  width: 100%;
  height: 6.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
}

.ceoNumWrap {
  width: 100%;
  display: flex;
}

.ceoNameBox {
  padding-right: 1.9rem;
}

.addresWrap {
  width: 100%;
  display: flex;
}

.ceoTelEmailWrap {
  width: 100%;
  display: flex;
}

.ceoTelBox {
  padding-right: 2.5rem;
}

.companyWrap {
  width: 100%;
  display: flex;
}

.companyText {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 1230px) {
  .mainWrap {
    font-size: 30%;
  }
}

@media screen and (max-width: 768px) {
  .contentWrap {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
