@font-face {
  font-family: "Pretendard";
  src: url("../public/fonts/Pretendard.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

@media (max-width: 1490px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 1490px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 40%;
  }
}