.mainWrap {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contnetWrap {
  width: 100%;
  max-width: 134.2rem;
  height: 100%;
  max-height: 50.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textWrap {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.textBox {
  width: 53.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftTextWrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.rightTextWrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.mainText {
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
}

.subTextBox {
  width: 100%;
  height: 14.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subTextContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconBox {
  width: 12%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.iconContainer {
  width: 3.1rem;
  display: flex;
  justify-content: center;
}

.subTextContent {
  width: 88%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.telIconBox {
  width: 2.8rem;
  height: 2.7rem;
}

.messageIconBox {
  width: 3.1rem;
  height: 2.2rem;
}

.markerIconBox {
  width: 2.3rem;
  height: 3.2rem;
}

.subText {
  width: 100%;
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}

.mapWrap {
  width: 72.7rem;
  height: 100%;
}

.mapBox {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
}

@media screen and (max-width: 1550px) {
  .mapBox {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .mapWrap {
    display: flex;
    justify-content: center;
  }

  .mapBox {
    width: 90%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contnetWrap {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .mainContent {
    flex-wrap: wrap;
  }

  .textWrap {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
  }

  .textBox {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .textContent {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .rightTextWrap {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .mainText {
    display: flex;
    justify-content: center;
  }

  .subTextBox {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .subTextContainer {
    width: 100%;
    height: 5rem;
  }

  .mapWrap {
    width: 100%;
    height: 65%;
    padding-top: 5%;
  }
}

@media screen and (max-width: 600px) {
  .subTextContent {
    justify-content: center;
  }

  .subText {
    font-size: 1rem;
  }
}
