.section {
  width: 100%;
}

.inner {
  width: 100%;
  max-width: 170rem;
  margin: 0 auto;
}

.adList {
  padding: 10rem 0;
}

.adElement {
  width: 20rem;
  filter: grayscale();
  opacity: 0.5;
}

@media (max-width: 670px) {
  .adElement {
    width: 18rem;
  }
}

@media (max-width: 530px) {
  .adElement {
    width: 13rem;
  }
}

@media (max-width: 400px) {
  .adElement {
    width: 13rem;
  }
}
