.section {
  width: 100%;
}

.inner {
  width: 100%;
  max-width: 135.6rem;
  margin: 0 auto;
  /* box-shadow: inset 0px 0px 10px 10px black; */
}

.adList {
  height: 100%;
}

.adList > div {
  transition-timing-function: linear;
}

.adElement {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 670px) {
  .adList {
    padding: 0 0;
  }

  .adElement {
    width: 18rem;
  }
}

@media (max-width: 530px) {
  .adElement {
    width: 13rem;
  }
}

@media (max-width: 400px) {
  .adElement {
    width: 10rem;
  }
}
